<!doctype html>
<html lang="fr">
<head>
  {% block head %}
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='favicon.png') }}">
    {% block styles %}
      <!-- Bootstrap CSS -->
      {{ bootstrap.load_css() }}
    {% endblock %}

    <title>{{ page_title }}</title>
  {% endblock %}
</head>
<body>
{% block content %}
  <header class="{{ header_css }}">
    {% block header %}

    {% endblock %}
  </header>
  <!-- Your page content -->
  <main class="{{ main_css }}">
    {% block content_main %}
    {% endblock %}
  </main>
  <footer class="{{ footer_css }}">
    {% block footer %}
    {% endblock %}
  </footer>

  {% block scripts %}
    {{ bootstrap.load_js() }}
  {% endblock %}
{% endblock %}
</body>
</html>
