{% extends "base.html" %}

{% block content_main %}
  <div id="app" style="margin: auto;"></div>
{% endblock %}

{% block scripts %}
  {{ super() }}
  <script type="module">
    import initCanvas from "{{ url_for('static', filename='display.js') }}";
    const WIDTH = {{ width }}
    const HEIGHT = {{ height }}
    const COLORS = {{ colors | tojson }}
    const FONTS = {{ fonts | tojson }}

    initCanvas('#app', WIDTH, HEIGHT, COLORS, FONTS)
  </script>
{% endblock %}
